.app_dark_theme {
  --bg-color: #1a1a57;
  --inverted-bg-color: #d8d8df;
  --primary-color: #51d151;
  --secondary-color: #049604;
  --inverted-primary-color: #1e0790;
  --inverted-secondary-color: #4d3bf2;

  // sceleton
  --sceleton-color: #1515ad;
  --skeleton-shadow: #2b2be8;

  // code
  --code-bg: #30309a;
}
