.app.dark{
    --bg-color: #3b3bad;
    --inverted-bg-color: #d8d8df;

    --primary-color: #049604;
    --secondary-color: #51d151;
    --inverted-primary-color: #1e0790;
    --inverted-secondary-color: #4d3bf2;
}