.app_dark_theme {
  --bg-color: #1a1a57;
  --inverted-bg-color: #d8d8df;
  --primary-color: #51d151;
  --secondary-color: #049604;
  --inverted-primary-color: #1e0790;
  --inverted-secondary-color: #4d3bf2;

  // redesigned
  --dark-bg-redesigned: #090f11;
  --bg-redesigned: #0c1214;
  --light-bg-redesigned: #151c1f;
  --text-redesigned: #dbdbdb;
  --hint-redesigned: #555;
  --cancel-redesigned: #d95757;
  --save-redesigned: #6cd98b;
  --icon-redesigned: #74a2b2;
  --accent-redesigned: #5ed3f3;

  // sceleton
  --sceleton-color: #1515ad;
  --skeleton-shadow: #2b2be8;

  // code
  --code-bg: #30309a;

  // card
  --card-bg: #0d0d6b;

  // listbox
  --listbox-bg: #0d0d6b;
}
