:root {
  --bg-color: #d8d8df;
  --inverted-bg-color: #3b3bad;
  --primary-color: #1e0790;
  --secondary-color: #4334c7;
  --inverted-primary-color: #51d151;
  --inverted-secondary-color: #049604;

  // sceleton
  --sceleton-color: #fff;
  --skeleton-shadow: rgba(0 0 0 / 20%);

  // code
  --code-bg: #fff;

  // card
  --card-bg: #d5d5d7;
}
